# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env
.env.local
.env.*.local

# Node / Next.js
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Data - ignore raw and large intermediate files, keep deployment datasets
/data/raw/
/data/processed/unified_dataset.csv
!/data/processed/product_dataset.csv
!/data/processed/products.json

# Keep precomputed models for deployment
!/models/faiss.index
!/models/product_embeddings.npy

data/meta_Electronics.json

# Jupyter notebooks
.ipynb_checkpoints/

logs/recommendation_logs.csv

.DS_Store