# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Data
/data/raw/
/data/processed/

# Models
/models/

data/meta_Electronics.json

# Jupyter notebooks
.ipynb_checkpoints/

*.pyc

models/*.npy
models/*.index

logs/recommendation_logs.csv

.DS_Store